.ipynb_checkpoints
.pytest_cache
my_venv
pytest_practice
Assignment1.py
bmi-calculator-sreeh97
git-fundamentals-practice-sree97
Others
__pycache__
venv2
Assignment2.md
blood_calculator.py
test_weight_entry.py
weight_entry.py